// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-normal: 700;

// Typography bootstrap headings custom
$h1-font-size: $font-size-base * 2.5 !default; //36 px
$h2-font-size: $font-size-base * 2 !default; //28.8 px
$h3-font-size: $font-size-base * 1.75 !default; //25.2 px
$h4-font-size: $font-size-base * 1.5 !default; //21.6 px
$h5-font-size: $font-size-base * 1.25 !default; //18 px
$h6-font-size: $font-size-base !default; //14.4 px

$headings-font-weight: 700;
$headings-margin-bottom: 0 !important;

//colors
$primary: #434343;
$secondary: #F6D014;

//input
$input-font-family: $font-family-sans-serif;
$input-font-size: $font-size-base;
$input-font-weight: $font-weight-normal;
$input-line-height: $line-height-base;

$input-padding-x: 0;
$input-padding-y: .25rem;

//$input-bg: $secondary;
$input-color: $primary;
$input-border-color: $primary;
$input-border-width: 0;
$input-border-bottom-width: .25rem;
$input-box-shadow: none;
$input-border-radius: 0;
$input-focus-border-color: darken($input-border-color, 5%);
$input-focus-color: darken($input-color, 5%);
$input-focus-box-shadow: $input-box-shadow;
$input-placeholder-color: $input-color;
$input-transition: 1s;

